@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{

    font-family: "Roboto", serif;
    font-size: 16px;
}

.navlink ul{
    display: none;
}

.navlink:hover ul {
    display: block;
}


.bg-custom {
    background-image:linear-gradient(to right, rgba(0,0,0,0.5), rgba(128, 128, 128, 0.363)), url("/src/assets/slider.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /* background-color: rgba(137, 43, 226, 0.514); */
}