header.navigation {
  // background: linear-gradient(to bottom, rgba(0,0,0,0.7) 0%,rgba(0,0,0,0.6) 30%,rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%);
  position: relative;
  &::after {
    content: "";
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0.6) 30%,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0) 100%
    );
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    pointer-events: none;
  }
  .link {
    li {
      margin-top: 10px;
    }
  }
}
